---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Introduction from '../components/Introduction.astro';
import Benefits from '../components/Benefits.astro';
import WhatYouLearn from '../components/WhatYouLearn.astro';
import Testimonial from '../components/Testimonial.astro';
import AuthorBio from '../components/AuthorBio.astro';
import TableOfContents from '../components/TableOfContents.astro';
import PriceSection from '../components/PriceSection.astro';
import FAQ from '../components/FAQ.astro';
import Guarantee from '../components/Guarantee.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Dapatkan IP 4.0 Tanpa Jadi Jenius!" description="Mulai Perjalanan Anda Menuju Kesuksesan Akademik Hari Ini dengan ebook 'Semua Bisa Raih IP 4!'">
  <Header />
  <main>
    <Hero />
    <Introduction />
    <Benefits />
    <WhatYouLearn />
    <Testimonial />
    <AuthorBio />
    <TableOfContents />
    <PriceSection />
    <FAQ />
    <Guarantee />
  </main>
  <Footer />
</Layout>